<hr>

<h2>Blockland Glass Purgatory</h2>
<h5>2023-08-04 02:00:00Z</h5>

<p>
"Blockland Glass Purgatory" is for my new (or updated) add-ons that would have been uploaded to Glass were it not otherwise read-only at the moment. The add-ons are available here: <a href="https://gitlab.com/Queuenard/blockland-glass-purgatory">https://gitlab.com/Queuenard/blockland-glass-purgatory</a>
<br>
<br>
The repo has the following add-ons as of the time of writing:
<br>
- Server_GamemodeExtraAddons.zip
<br>
- Server_SpeedKartRemasteredCommands.zip
<br>
- Server_SpeedKartRemasteredMusicFix.zip
<br>
- Server_SpeedKartRemasteredTracker.zip
<br>
- Server_SportsBallExploitFix.zip
<br>
<br>
Note: this repo was put up a month ago on July 3rd
</p>
