<hr>

<h2>Wine Fix released</h2>
<h5>2023-06-23 00:00:00Z</h5>

<p>
Wine Fix has been released by Eagle517 and is available here: <a href="https://gitlab.com/Eagle517/wine-fix">https://gitlab.com/Eagle517/wine-fix</a>
<br>
This DLL allows Blockland to work on <a href="https://source.winehq.org/git/wine.git/commit/05628e169db4c8aa4ad36953d07b13d71ff3a5e0">versions of Wine (> 5.18) where wineconsole does not have the curses backend</a>. We don't understand why this feature was removed especially for a software package so precisely intended for compatibilty.
<br>
<br>
As usual, the DLL is available on my master list: <a href="https://gitlab.com/Queuenard/blockland-DLL">https://gitlab.com/Queuenard/blockland-DLL</a>

</p>
