<hr>

<h2>New add-ons and new version of Trace Buddy DLL</h2>
<h5>2023-10-28 06:00:00Z</h5>

<p>
New add-ons were added in the "Blockland Glass Purgatory", which was discussed in a previous post. Server_SpeedKartRemasteredMapLoadFix.zip and Server_SpeedKartReduceCountdown.zip are new. Link: <a href="https://gitlab.com/Queuenard/blockland-glass-purgatory">https://gitlab.com/Queuenard/blockland-glass-purgatory</a>
<br>
<br>
The Trace Buddy DLL has a new release to give better control and to change log size limits. Link: <a href="https://gitlab.com/Queuenard/TraceBuddy">https://gitlab.com/Queuenard/TraceBuddy</a>
</p>
