<hr>

<h2>Hosting Speedkart Remastered</h2>
<h5>2023-06-11 01:30:00Z</h5>

<p>
I am now hosting Speedkart Remastered on a 24/7 dedicated server. No one seems to have hosted it for 6 or so months so I'm glad to bring it back. You can expect occasional small updates.
<br>
<br>
I was hoping to host Speedkart Remastered 2 (new maps and vehicles) but it appears to have not been released yet.
</p>
